In [1]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Set up API
api = KaggleApi()
api.authenticate()

# Download dataset to a specified directory
dataset = 'rohanrao/formula-1-world-championship-1950-2020'
download_path = "./data"
api.dataset_download_files(dataset, path=download_path, unzip=True)

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/michaelangelo/.config/kaggle/kaggle.json'
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/michaelangelo/.config/kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020

In [2]:
#read seasons.csv
import pandas as pd

In [3]:
#read circuits.csv
circuits = pd.read_csv(download_path + '/circuits.csv')

In [4]:
#plot all locations on a map
import folium
from folium.plugins import MarkerCluster
    
# Create a map centered at the mean latitude and longitude


m = folium.Map(location=[circuits['lat'].mean(), circuits['lng'].mean()], zoom_start=2)

# Add a marker for each circuit
for i in range(len(circuits)):
    folium.Marker([circuits.iloc[i]['lat'], circuits.iloc[i]['lng']], popup=circuits.iloc[i]['name']).add_to(m)
    
# m

In [5]:
#read races.csv and select circiuts for 2024
races = pd.read_csv(f'{download_path}/races.csv')
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [6]:
#last year races
last_year_r = races.where(cond=races['year']==2024)
#drop Nan rows
last_year_r = last_year_r.dropna()

In [7]:
current_season = circuits[circuits['circuitId'].isin(last_year_r['circuitId'])]

In [8]:
m = folium.Map(location=[current_season['lat'].mean(), current_season['lng'].mean()], zoom_start=2)

# Add a marker for each circuit
for i in range(len(current_season)):
    folium.Marker([current_season.iloc[i]['lat'], current_season.iloc[i]['lng']], popup=current_season.iloc[i]['name']).add_to(m)

In [9]:
# for each file in data dir find rows with no data 
# and print them
import os
import pandas as pd
    
data_dir = './data/'
for file in os.listdir(data_dir):
    if file.endswith('.csv'):
        df = pd.read_csv(data_dir + '/' + file)
        print(f'File: {file}')
        print(df[df.isnull().any(axis=1)])
        print('\n')

File: lap_times.csv
Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []


File: constructors.csv
Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []


File: status.csv
Empty DataFrame
Columns: [statusId, status]
Index: []


File: driver_standings.csv
Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, positionText, wins]
Index: []


File: results.csv
Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []


File: races.csv
Empty DataFrame
Columns: [raceId, year, round, circuitId, name, date, time, url, fp1_date, fp1_time, fp2_date, fp2_time, fp3_date, fp3_time, quali_date, quali_time, sprint_date, sprint_time]
Index: []


File: constructor_results.csv
Empty DataFrame
Columns: [constructorResultsId, raceId, constructorId, points, status]
Index: []


File: drivers.csv
Empty DataFrame
Columns: [driverId, driverRef, number, code, forename, surname, dob, nationality, url]
Index: []


File: circuits.csv
Empty DataFrame
Columns: [circuitId, circuitRef, name, location, country, lat, lng, alt, url]
Index: []


File: sprint_results.csv
Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, fastestLapTime, statusId]
Index: []


File: constructor_standings.csv
Empty DataFrame
Columns: [constructorStandingsId, raceId, constructorId, points, position, positionText, wins]
Index: []


File: qualifying.csv
       qualifyId  raceId  driverId  constructorId  number  position        q1  \
10005      10063    1120         1            131      44        11  1:24.437
10006      10064    1120       839            214      31        12  1:24.565
10007      10065    1120       840            117      18        13  1:24.405
10008      10066    1120       848              3      23        14  1:24.298
10009      10067    1120       817            213       3        15  1:24.461
10010      10068    1120       832              6      55        16  1:24.738
10011      10069    1120       825            210      20        17  1:24.764
10012      10070    1120       822             51      77        18  1:24.788
10013      10071    1120       855             51      24        19  1:25.159
10045      10103    1122       860              6      38        11  1:28.984
10046      10104    1122       848              3      23        12  1:29.107
10047      10105    1122       825            210      20        13  1:29.069
10048      10106    1122       817            215       3        14  1:29.065
10049      10107    1122       807            210      27        15  1:29.055
10050      10108    1122       822             15      77        16  1:29.179
10051      10109    1122       839            214      31        17  1:29.475
10052      10110    1122       842            214      10        18  1:29.479
10053      10111    1122       858              3       2        19  1:29.526
10144      10202    1127       815              9      11        11  1:16.404
10145      10203    1127       839            214      31        12  1:16.361
10146      10204    1127       840            117      18        13  1:16.458
10147      10205    1127       848              3      23        14  1:16.524
10148      10206    1127       842            214      10        15  1:16.015
10149      10207    1127       822             15      77        16  1:16.626
10150      10208    1127       855             15      24        17  1:16.834
10151      10209    1127       825            210      20        18  1:16.854
10152      10210    1127         4            117      14        19  1:16.917

             q2   q3
10005  1:24.359  NaN
10006  1:24.391  NaN
10007  1:24.422  NaN
10008  1:24.439  NaN
10009  1:24.442  NaN
10010       NaN  NaN
10011       NaN  NaN
10012       NaN  NaN
10013       NaN  NaN
10045  1:28.642  NaN
10046  1:28.980  NaN
10047  1:29.020  NaN
10048  1:29.025  NaN
10049       NaN  NaN
10050       NaN  NaN
10051       NaN  NaN
10052       NaN  NaN
10053       NaN  NaN
10144  1:15.706  NaN
10145  1:15.906  NaN
10146  1:15.992  NaN
10147  1:16.200  NaN
10148  1:16.381  NaN
10149       NaN  NaN
10150       NaN  NaN
10151       NaN  NaN
10152       NaN  NaN


File: pit_stops.csv
Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []


File: seasons.csv
Empty DataFrame
Columns: [year, url]
Index: []

In [10]:
# print amount of rows in each file
for file in os.listdir(data_dir):
    if file.endswith('.csv'):
        df = pd.read_csv(data_dir + '/' + file)
        print(f'File: {file}, Rows: {len(df)}')

File: lap_times.csv, Rows: 575029
File: constructors.csv, Rows: 212
File: status.csv, Rows: 139
File: driver_standings.csv, Rows: 34595
File: results.csv, Rows: 26519
File: races.csv, Rows: 1125
File: constructor_results.csv, Rows: 12505
File: drivers.csv, Rows: 859
File: circuits.csv, Rows: 77
File: sprint_results.csv, Rows: 300
File: constructor_standings.csv, Rows: 13271
File: qualifying.csv, Rows: 10254
File: pit_stops.csv, Rows: 10990
File: seasons.csv, Rows: 75

In [11]:
#load data from constructor_results.csv
constructor = pd.read_csv('./data/constructors.csv')
display(constructor)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
211,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team

In [12]:
#take only mclaren williams and ferrari
mclaren = constructor[constructor['name'] == 'McLaren']
williams = constructor[constructor['name'] == 'Williams']
ferrari = constructor[constructor['name'] == 'Ferrari']

In [13]:
display(mclaren)
display(williams)
display(ferrari)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren

,constructorId,constructorRef,name,nationality,url
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

,constructorId,constructorRef,name,nationality,url
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari

In [14]:
display(races)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [15]:
#load data from constructor_results.csv
constructor_results = pd.read_csv('./data/constructor_results.csv')
display(constructor_results)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12500                 17005    1132            117    10.0     \N
12501                 17006    1132              3     2.0     \N
12502                 17007    1132            215     1.0     \N
12503                 17008    1132             15     0.0     \N
12504                 17009    1132            214     0.0     \N

[12505 rows x 5 columns]

In [16]:
constructorID = mclaren['constructorId'].values[0]
mclaren_results = constructor_results[constructor_results['constructorId'] == constructorID]
# mclaren_results = mclaren_results.merge
display(mclaren_results)

#load data from constructor_standings.csv
constructor_standings = pd.read_csv('./data/constructor_standings.csv')
mclaren_standings = constructor_standings[constructor_standings['constructorId'] == constructorID]
display(mclaren_standings)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
13                       14      19              1    10.0     \N
24                       25      20              1     4.0     \N
34                       35      21              1     6.0     \N
45                       46      22              1     8.0     \N
...                     ...     ...            ...     ...    ...
12456                 16961    1128              1    30.0     \N
12466                 16971    1129              1    28.0     \N
12476                 16981    1130              1    25.0     \N
12486                 16991    1131              1    31.0     \N
12497                 17002    1132              1    27.0     \N

[917 rows x 5 columns]

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
6,7,19,1,24.0,1,1,1
17,18,20,1,28.0,3,3,1
28,29,21,1,34.0,3,3,1
39,40,22,1,42.0,3,3,1
...,...,...,...,...,...,...,...
13224,28806,1128,1,184.0,3,3,1
13234,28816,1129,1,212.0,3,3,1
13244,28826,1130,1,237.0,3,3,1
13254,28836,1131,1,268.0,3,3,1
13264,28846,1132,1,295.0,3,3,1

In [17]:
constructorIDs = [mclaren['constructorId'].values[0], williams['constructorId'].values[0], ferrari['constructorId'].values[0]]
trio_results = constructor_results[constructor_results['constructorId'].isin(constructorIDs)]
display(trio_results)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
2                         3      18              3     9.0     \N
5                         6      18              6     1.0     \N
11                       12      19              6    10.0     \N
13                       14      19              1    10.0     \N
...                     ...     ...            ...     ...    ...
12487                 16992    1131              6    21.0     \N
12493                 16998    1131              3     0.0     \N
12497                 17002    1132              1    27.0     \N
12498                 17003    1132              6    11.0     \N
12501                 17006    1132              3     2.0     \N

[2780 rows x 5 columns]

In [18]:
lap_times = pd.read_csv('./data/lap_times.csv')
display(lap_times)

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

[575029 rows x 6 columns]

In [19]:
#get races for trio_results
trio_lap_times = lap_times[lap_times['raceId'].isin(trio_results['raceId'])]
#race id is not enough to join
# display(trio_lap_times['raceId'].nunique())
display(trio_results[trio_results['raceId'] == 841])

      constructorResultsId  raceId  constructorId  points status
9632                 14130     841              1    26.0     \N
9634                 14132     841              6    18.0     \N
9640                 14138     841              3     0.0     \N

In [20]:
test = trio_lap_times[trio_lap_times['raceId'] == 1131 ]
display(test)

        raceId  driverId  lap  position      time  milliseconds
573624    1131       830    1         1  1:12.050         72050
573625    1131       830    2         1  1:09.938         69938
573626    1131       830    3         1  1:09.857         69857
573627    1131       830    4         1  1:09.903         69903
573628    1131       830    5         1  1:10.005         70005
...        ...       ...  ...       ...       ...           ...
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

[1405 rows x 6 columns]

# dla konstruktora o id =1 dla wyścigu o id= 1131

In [21]:
#load results
results = pd.read_csv('./data/results.csv')
display(results)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26514,26520,1132,839,214,31,18,16,16,16,0.0,50,\N,\N,46,16,1:30.875,233.371,12
26515,26521,1132,815,9,11,0,17,17,17,0.0,50,\N,\N,50,6,1:29.707,236.409,12
26516,26522,1132,855,15,24,14,18,18,18,0.0,50,\N,\N,43,17,1:31.014,233.014,12
26517,26523,1132,847,131,63,1,\N,R,19,0.0,33,\N,\N,3,19,1:31.298,232.289,34
26518,26524,1132,842,214,10,19,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,6

In [22]:
team_ids = [1,3,6]
race_ids = [1124,1128,1131]

In [23]:
driverId = results[(results['raceId'].isin(race_ids)) & (results['constructorId'] == 1)]['driverId']
display(driverId)

26343    846
26346    857
26420    857
26422    846
26480    857
26498    846
Name: driverId, dtype: int64

In [24]:
lap_times = pd.read_csv('./data/lap_times.csv')

In [25]:
#mclaren laptimes
mclaren_lap_times = lap_times[(lap_times['raceId'].isin(race_ids)) & (lap_times['driverId'].isin(driverId))]

In [26]:
display(mclaren_lap_times)

        raceId  driverId  lap  position       time  milliseconds
565637    1124       846    1         3   2:14.751        134751
565638    1124       846    2         3  28:30.610       1710610
565639    1124       846    3         3   2:51.325        171325
565640    1124       846    4         3   1:36.853         96853
565641    1124       846    5         3   1:36.860         96860
...        ...       ...  ...       ...        ...           ...
574109    1131       857   67         2   1:09.532         69532
574110    1131       857   68         2   1:09.241         69241
574111    1131       857   69         2   1:09.159         69159
574112    1131       857   70         2   1:09.989         69989
574113    1131       857   71         2   1:09.668         69668

[397 rows x 6 columns]

In [27]:
# append column with name Maclaren
mclaren_lap_times['name'] = 'Maclaren'
display(mclaren_lap_times)

/tmp/ipykernel_7195/326417809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mclaren_lap_times['name'] = 'Maclaren'

        raceId  driverId  lap  position       time  milliseconds      name
565637    1124       846    1         3   2:14.751        134751  Maclaren
565638    1124       846    2         3  28:30.610       1710610  Maclaren
565639    1124       846    3         3   2:51.325        171325  Maclaren
565640    1124       846    4         3   1:36.853         96853  Maclaren
565641    1124       846    5         3   1:36.860         96860  Maclaren
...        ...       ...  ...       ...        ...           ...       ...
574109    1131       857   67         2   1:09.532         69532  Maclaren
574110    1131       857   68         2   1:09.241         69241  Maclaren
574111    1131       857   69         2   1:09.159         69159  Maclaren
574112    1131       857   70         2   1:09.989         69989  Maclaren
574113    1131       857   71         2   1:09.668         69668  Maclaren

[397 rows x 7 columns]

In [28]:
team_ids = [1,3,6]
race_ids = [1124,1128,1131]

In [29]:
# do the same for williams
driverId = results[(results['raceId'].isin(race_ids)) & (results['constructorId'] == 3)]['driverId']
williams_lap_times = lap_times[(lap_times['raceId'].isin(race_ids)) & (lap_times['driverId'].isin(driverId))] 
williams_lap_times['name'] = 'Williams'
display(williams_lap_times)

/tmp/ipykernel_7195/4197140712.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  williams_lap_times['name'] = 'Williams'

        raceId  driverId  lap  position       time  milliseconds      name
566372    1124       858    1        17   3:08.456        188456  Williams
566373    1124       858    2        17  28:24.529       1704529  Williams
566374    1124       858    3        18   2:12.603        132603  Williams
566375    1124       858    4        18   1:40.424        100424  Williams
566376    1124       858    5        17   1:39.668         99668  Williams
...        ...       ...  ...       ...        ...           ...       ...
575024    1131       858   65        19   1:10.742         70742  Williams
575025    1131       858   66        19   1:10.855         70855  Williams
575026    1131       858   67        19   1:12.454         72454  Williams
575027    1131       858   68        19   1:13.607         73607  Williams
575028    1131       858   69        19   1:11.489         71489  Williams

[344 rows x 7 columns]

In [30]:
# do the same for ferrari
driverId = results[(results['raceId'].isin(race_ids)) & (results['constructorId'] == 6)]['driverId']
ferrari_lap_times = lap_times[(lap_times['raceId'].isin(race_ids)) & (lap_times['driverId'].isin(driverId))]
ferrari_lap_times['name'] = 'Ferrari'
display(ferrari_lap_times)

/tmp/ipykernel_7195/2597576230.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ferrari_lap_times['name'] = 'Ferrari'

        raceId  driverId  lap  position       time  milliseconds     name
565690    1124       832    1         4   2:17.613        137613  Ferrari
565691    1124       832    2         4  28:32.219       1712219  Ferrari
565692    1124       832    3         4   2:47.321        167321  Ferrari
565693    1124       832    4         4   1:37.225         97225  Ferrari
565694    1124       832    5         4   1:37.322         97322  Ferrari
...        ...       ...  ...       ...        ...           ...      ...
574885    1131       844   67        12   1:10.353         70353  Ferrari
574886    1131       844   68        12   1:10.413         70413  Ferrari
574887    1131       844   69        12   1:10.739         70739  Ferrari
574888    1131       844   70        11   1:10.488         70488  Ferrari
574889    1131       844   71        11   1:10.256         70256  Ferrari

[404 rows x 7 columns]

In [31]:
#concatenate all dataframes
all_lap_times = pd.concat([mclaren_lap_times, williams_lap_times, ferrari_lap_times])
display(all_lap_times)

        raceId  driverId  lap  position       time  milliseconds      name
565637    1124       846    1         3   2:14.751        134751  Maclaren
565638    1124       846    2         3  28:30.610       1710610  Maclaren
565639    1124       846    3         3   2:51.325        171325  Maclaren
565640    1124       846    4         3   1:36.853         96853  Maclaren
565641    1124       846    5         3   1:36.860         96860  Maclaren
...        ...       ...  ...       ...        ...           ...       ...
574885    1131       844   67        12   1:10.353         70353   Ferrari
574886    1131       844   68        12   1:10.413         70413   Ferrari
574887    1131       844   69        12   1:10.739         70739   Ferrari
574888    1131       844   70        11   1:10.488         70488   Ferrari
574889    1131       844   71        11   1:10.256         70256   Ferrari

[1145 rows x 7 columns]

In [53]:
def get_constructor_race_laptimes(constructor_id, race_id):
    team_name = constructor[constructor['constructorId'] == constructor_id]['name'].values[0]
    driver_id = results[(results['raceId'] == race_id) & (results['constructorId'] == constructor_id)]['driverId']
    if driver_id.empty:
        return "NO DATA"
    constructor_lap_times = lap_times[(lap_times['raceId'] == race_id) & (lap_times['driverId'].isin(driver_id))].copy()

    constructor_lap_times.loc[:,'name'] = team_name
    return constructor_lap_times

In [54]:
print(get_constructor_race_laptimes(1, 1124))
print(get_constructor_race_laptimes(9, 1124))

        raceId  driverId  lap  position       time  milliseconds     name
565637    1124       846    1         3   2:14.751        134751  McLaren
565638    1124       846    2         3  28:30.610       1710610  McLaren
565639    1124       846    3         3   2:51.325        171325  McLaren
565640    1124       846    4         3   1:36.853         96853  McLaren
565641    1124       846    5         3   1:36.860         96860  McLaren
...        ...       ...  ...       ...        ...           ...      ...
565844    1124       857   49         7   1:36.179         96179  McLaren
565845    1124       857   50         7   1:36.228         96228  McLaren
565846    1124       857   51         7   1:35.429         95429  McLaren
565847    1124       857   52         7   1:36.164         96164  McLaren
565848    1124       857   53         8   1:36.611         96611  McLaren

[106 rows x 7 columns]
        raceId  driverId  lap  position       time  milliseconds      name
565531    1124       830    1         1   2:10.735        130735  Red Bull
565532    1124       830    2         1  28:31.131       1711131  Red Bull
565533    1124       830    3         1   2:52.922        172922  Red Bull
565534    1124       830    4         1   1:36.472         96472  Red Bull
565535    1124       830    5         1   1:36.437         96437  Red Bull
...        ...       ...  ...       ...        ...           ...       ...
565632    1124       815   49         2   1:35.035         95035  Red Bull
565633    1124       815   50         2   1:35.244         95244  Red Bull
565634    1124       815   51         2   1:34.890         94890  Red Bull
565635    1124       815   52         2   1:34.929         94929  Red Bull
565636    1124       815   53         2   1:34.728         94728  Red Bull

[106 rows x 7 columns]

In [58]:
mclaren_lap_times  = get_constructor_race_laptimes(1, 1124)
driver_id = mclaren_lap_times['driverId'].unique()
print(driver_id)

[846 857]