In [2]:
import os
from dotenv import load_dotenv
from kaggle.api.kaggle_api_extended import KaggleApi

load_dotenv()

# Set up API
api = KaggleApi()
api.authenticate()

# Download dataset to a specified directory
dataset = 'rohanrao/formula-1-world-championship-1950-2020'
download_path = os.environ.get('DOWNLOAD_PATH')
api.dataset_download_files(dataset, path=download_path, unzip=True)

Dataset URL: https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020

In [3]:
#read seasons.csv
import pandas as pd

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [4]:
#read circuits.csv
circuits = pd.read_csv(download_path + '/circuits.csv')

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [ ]:
#plot all locations on a map
import folium
from folium.plugins import MarkerCluster
    
# Create a map centered at the mean latitude and longitude


m = folium.Map(location=[circuits['lat'].mean(), circuits['lng'].mean()], zoom_start=2)

# Add a marker for each circuit
for i in range(len(circuits)):
    folium.Marker([circuits.iloc[i]['lat'], circuits.iloc[i]['lng']], popup=circuits.iloc[i]['name']).add_to(m)
    
m

In [6]:
#read races.csv and select circiuts for 2024
races = pd.read_csv(f'{download_path}/races.csv')
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [7]:
#last year races
last_year_r = races.where(cond=races['year']==2024)
#drop Nan rows
last_year_r = last_year_r.dropna()

In [8]:
current_season = circuits[circuits['circuitId'].isin(last_year_r['circuitId'])]

In [ ]:
m = folium.Map(location=[current_season['lat'].mean(), current_season['lng'].mean()], zoom_start=2)

# Add a marker for each circuit
for i in range(len(current_season)):
    folium.Marker([current_season.iloc[i]['lat'], current_season.iloc[i]['lng']], popup=current_season.iloc[i]['name']).add_to(m)
    
m

In [10]:
# for each file in data dir find rows with no data 
# and print them
import os
import pandas as pd
    
data_dir = './data/'
for file in os.listdir(data_dir):
    if file.endswith('.csv'):
        df = pd.read_csv(data_dir + '/' + file)
        print(f'File: {file}')
        print(df[df.isnull().any(axis=1)])
        print('\n')

File: circuits.csv
Empty DataFrame
Columns: [circuitId, circuitRef, name, location, country, lat, lng, alt, url]
Index: []


File: status.csv
Empty DataFrame
Columns: [statusId, status]
Index: []


File: lap_times.csv
Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []


File: sprint_results.csv
Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, fastestLapTime, statusId]
Index: []


File: drivers.csv
Empty DataFrame
Columns: [driverId, driverRef, number, code, forename, surname, dob, nationality, url]
Index: []


File: races.csv
Empty DataFrame
Columns: [raceId, year, round, circuitId, name, date, time, url, fp1_date, fp1_time, fp2_date, fp2_time, fp3_date, fp3_time, quali_date, quali_time, sprint_date, sprint_time]
Index: []


File: constructors.csv
Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []


File: constructor_standings.csv
Empty DataFrame
Columns: [constructorStandingsId, raceId, constructorId, points, position, positionText, wins]
Index: []


File: qualifying.csv
       qualifyId  raceId  driverId  constructorId  number  position        q1  \
10005      10063    1120         1            131      44        11  1:24.437
10006      10064    1120       839            214      31        12  1:24.565
10007      10065    1120       840            117      18        13  1:24.405
10008      10066    1120       848              3      23        14  1:24.298
10009      10067    1120       817            213       3        15  1:24.461
10010      10068    1120       832              6      55        16  1:24.738
10011      10069    1120       825            210      20        17  1:24.764
10012      10070    1120       822             51      77        18  1:24.788
10013      10071    1120       855             51      24        19  1:25.159
10045      10103    1122       860              6      38        11  1:28.984
10046      10104    1122       848              3      23        12  1:29.107
10047      10105    1122       825            210      20        13  1:29.069
10048      10106    1122       817            215       3        14  1:29.065
10049      10107    1122       807            210      27        15  1:29.055
10050      10108    1122       822             15      77        16  1:29.179
10051      10109    1122       839            214      31        17  1:29.475
10052      10110    1122       842            214      10        18  1:29.479
10053      10111    1122       858              3       2        19  1:29.526
10144      10202    1127       815              9      11        11  1:16.404
10145      10203    1127       839            214      31        12  1:16.361
10146      10204    1127       840            117      18        13  1:16.458
10147      10205    1127       848              3      23        14  1:16.524
10148      10206    1127       842            214      10        15  1:16.015
10149      10207    1127       822             15      77        16  1:16.626
10150      10208    1127       855             15      24        17  1:16.834
10151      10209    1127       825            210      20        18  1:16.854
10152      10210    1127         4            117      14        19  1:16.917

             q2   q3
10005  1:24.359  NaN
10006  1:24.391  NaN
10007  1:24.422  NaN
10008  1:24.439  NaN
10009  1:24.442  NaN
10010       NaN  NaN
10011       NaN  NaN
10012       NaN  NaN
10013       NaN  NaN
10045  1:28.642  NaN
10046  1:28.980  NaN
10047  1:29.020  NaN
10048  1:29.025  NaN
10049       NaN  NaN
10050       NaN  NaN
10051       NaN  NaN
10052       NaN  NaN
10053       NaN  NaN
10144  1:15.706  NaN
10145  1:15.906  NaN
10146  1:15.992  NaN
10147  1:16.200  NaN
10148  1:16.381  NaN
10149       NaN  NaN
10150       NaN  NaN
10151       NaN  NaN
10152       NaN  NaN


File: driver_standings.csv
Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, positionText, wins]
Index: []


File: constructor_results.csv
Empty DataFrame
Columns: [constructorResultsId, raceId, constructorId, points, status]
Index: []


File: pit_stops.csv
Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []


File: seasons.csv
Empty DataFrame
Columns: [year, url]
Index: []


File: results.csv
Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []

In [11]:
# print amount of rows in each file
for file in os.listdir(data_dir):
    if file.endswith('.csv'):
        df = pd.read_csv(data_dir + '/' + file)
        print(f'File: {file}, Rows: {len(df)}')

File: circuits.csv, Rows: 77
File: status.csv, Rows: 139
File: lap_times.csv, Rows: 575029
File: sprint_results.csv, Rows: 300
File: drivers.csv, Rows: 859
File: races.csv, Rows: 1125
File: constructors.csv, Rows: 212
File: constructor_standings.csv, Rows: 13271
File: qualifying.csv, Rows: 10254
File: driver_standings.csv, Rows: 34595
File: constructor_results.csv, Rows: 12505
File: pit_stops.csv, Rows: 10990
File: seasons.csv, Rows: 75
File: results.csv, Rows: 26519

In [15]:
#load data from constructor_results.csv
constructor = pd.read_csv('./data/constructors.csv')
display(constructor)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
211,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team

In [16]:
#take only mclaren williams and ferrari
mclaren = constructor[constructor['name'] == 'McLaren']
williams = constructor[constructor['name'] == 'Williams']
ferrari = constructor[constructor['name'] == 'Ferrari']

In [27]:
display(mclaren)
display(williams)
display(ferrari)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren

,constructorId,constructorRef,name,nationality,url
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

,constructorId,constructorRef,name,nationality,url
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari

In [22]:
display(races)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [24]:
#load data from constructor_results.csv
constructor_results = pd.read_csv('./data/constructor_results.csv')
display(constructor_results)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12500                 17005    1132            117    10.0     \N
12501                 17006    1132              3     2.0     \N
12502                 17007    1132            215     1.0     \N
12503                 17008    1132             15     0.0     \N
12504                 17009    1132            214     0.0     \N

[12505 rows x 5 columns]

In [29]:
constructorID = mclaren['constructorId'].values[0]
mclaren_results = constructor_results[constructor_results['constructorId'] == constructorID]
# mclaren_results = mclaren_results.merge
display(mclaren_results)

#load data from constructor_standings.csv
constructor_standings = pd.read_csv('./data/constructor_standings.csv')
mclaren_standings = constructor_standings[constructor_standings['constructorId'] == constructorID]
display(mclaren_standings)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
13                       14      19              1    10.0     \N
24                       25      20              1     4.0     \N
34                       35      21              1     6.0     \N
45                       46      22              1     8.0     \N
...                     ...     ...            ...     ...    ...
12456                 16961    1128              1    30.0     \N
12466                 16971    1129              1    28.0     \N
12476                 16981    1130              1    25.0     \N
12486                 16991    1131              1    31.0     \N
12497                 17002    1132              1    27.0     \N

[917 rows x 5 columns]

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
6,7,19,1,24.0,1,1,1
17,18,20,1,28.0,3,3,1
28,29,21,1,34.0,3,3,1
39,40,22,1,42.0,3,3,1
...,...,...,...,...,...,...,...
13224,28806,1128,1,184.0,3,3,1
13234,28816,1129,1,212.0,3,3,1
13244,28826,1130,1,237.0,3,3,1
13254,28836,1131,1,268.0,3,3,1
13264,28846,1132,1,295.0,3,3,1

In [28]:
constructorIDs = [mclaren['constructorId'].values[0], williams['constructorId'].values[0], ferrari['constructorId'].values[0]]
trio_results = constructor_results[constructor_results['constructorId'].isin(constructorIDs)]
display(trio_results)

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
2                         3      18              3     9.0     \N
5                         6      18              6     1.0     \N
11                       12      19              6    10.0     \N
13                       14      19              1    10.0     \N
...                     ...     ...            ...     ...    ...
12487                 16992    1131              6    21.0     \N
12493                 16998    1131              3     0.0     \N
12497                 17002    1132              1    27.0     \N
12498                 17003    1132              6    11.0     \N
12501                 17006    1132              3     2.0     \N

[2780 rows x 5 columns]

In [31]:
lap_times = pd.read_csv('./data/lap_times.csv')
display(lap_times)

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

[575029 rows x 6 columns]

In [40]:
#get races for trio_results
trio_lap_times = lap_times[lap_times['raceId'].isin(trio_results['raceId'])]
#race id is not enough to join
# display(trio_lap_times['raceId'].nunique())
display(trio_results[trio_results['raceId'] == 841])

      constructorResultsId  raceId  constructorId  points status
9632                 14130     841              1    26.0     \N
9634                 14132     841              6    18.0     \N
9640                 14138     841              3     0.0     \N

In [49]:
races = [1139,1140,1141]

In [54]:
display(trio_lap_times)

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

[575029 rows x 6 columns]

In [58]:
test = trio_lap_times[trio_lap_times['raceId'] == 1131 ]
display(test)

        raceId  driverId  lap  position      time  milliseconds
573624    1131       830    1         1  1:12.050         72050
573625    1131       830    2         1  1:09.938         69938
573626    1131       830    3         1  1:09.857         69857
573627    1131       830    4         1  1:09.903         69903
573628    1131       830    5         1  1:10.005         70005
...        ...       ...  ...       ...       ...           ...
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

[1405 rows x 6 columns]